.card{
  border:1px solid hsl(0, 2%, 74%);
  border-radius: 10px;
  box-shadow:5px 5px 5px hsla(0, 45%, 39%, 0.10);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width:250px;
  display: inline-block;

}

.card .card-image{
  max-width: 60%;
  height : auto;
  border-radius: 50%;
  margin-bottom: 10px;
}
.card .card-title{
  font-family: Arial, sans-serif;
  margin: 0;
  color: rgb(56, 48, 12);
}
.card .card-text{
  font-family: Arial, sans-serif;
  color: rgb(56, 48, 12);

}
.student {
  font-family: Arial, Sans-serif;
  font-size: 2em;
  padding: 10px;
  border: 1px solid hsl(0, 21%, 48%);
}

.student p{
  margin: 0;
  padding: 5px;
}